<div style="background-color: #0c151d">
  <div class="container">
    <h1>Projetos</h1>
    <div class="row">
      <div class="col" *ngFor="let project of listProjects">
        <div class="block-project">
          <img class="img-project" src="{{ project.image }}" />
          <div class="card-informations">
            <div class="column-name">
              <h1>{{ project.name }}</h1>
              <a href="{{ project.repository }}"><img src="../../../../assets/img/icons8-github-64.png" alt="" /></a>
            </div>
            <div class="buttons d-flex">
              <button *ngFor="let tec of project.technologies" class="d-flex" id="{{ tec.color }}">
                <img src="{{ tec.icon }}" />
                {{ tec.name }}
              </button>
            </div>
            <hr />
            <div class="description">
              <p>{{ project.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>