<nav
  class="navbar navbar-dark navbar-expand-lg"
  style="background-color: #0c0c0c"
>
  <div class="container-fluid">
    <div
      class="collapse navbar-collapse d-flex justify-content-around"
      id="navbarSupportedContent"
    >
      <a class="navbar-brand" href="#"
        ><span>{{ "{" }} </span> João <span>{{ "}" }}</span></a
      >
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-link" *ngFor="let links of navbarLinks">
            {{ links.text }}
          </li>
          <a
            href="/assets/pdf/curriculo-joao-victor-minervino.pdf"
            class="btn-cv"
            target="_blank"
            download=""
          >
            Download CV
          </a>
        </ul>
      </div>
    </div>
  </div>
</nav>
