.contact {
  background-color: #19142a;
  color: #ffff;
}

.contact-infos {
  //   width: 20%;
}

.contact-inputs input {
  height: 85px;
  background: none;
  border: 1px solid #4d475d;
  border-radius: 10px;
}
