<div class="d-flex justify-content-center contact">
  <div class="contact-infos">
    <h1>Fale Comigo</h1>
    <p>Me manda um email, ou fale pelo Whatssap</p>
    <div>
      <div>
        <img src="" alt="" />
        <span>Ligue-Me</span>
        <span>(81)98679-7955</span>
      </div>
      <div>
        <img src="" alt="" />
        <span>Email</span>
        <span>joaovictor_minervino@hotmail.com</span>
      </div>
      <div>
        <img src="" alt="" />
        <span>Endereço</span>
        <span>Rua Raul Pompeia 167 - Arruda, Recife, BR</span>
      </div>
    </div>
  </div>
  <div class="contact-inputs">
    <h1>Preencha os Campos</h1>
    <div>
      <input type="text" placeholder="Nome" />
      <input type="email" placeholder="Email" />
    </div>
    <div>
      <input type="number" placeholder="Telefone" />
      <input type="text" placeholder="Orçamento" />
    </div>
    <input type="text" />
  </div>
</div>
