<div class="all">
  <div class="container">
    <h1>Contato</h1>
    <div class="d-flex justify-content-between">
      <div class="d-flex container-elements align-items-center">
        <img class="icon" src="assets/img/icon-whatsapp.png" alt="" />
        <div>
          <h3>Whatsapp</h3>
          <span>(81) 98679-7955</span>
        </div>
      </div>
      <div class="d-flex container-elements align-items-center">
        <img class="icon" src="assets/img/icon-email.png" alt="" />
        <div>
          <h3>Mande um E-Mail</h3>
          <a>joaovictor_minervino@hotmail.com</a>
        </div>
      </div>
      <div class="d-flex container-elements align-items-center">
        <img class="icon" src="assets/img/icon-localization.png" alt="" />
        <div>
          <h3>Localização</h3>
          <span>Recife - PE</span>
        </div>
      </div>
    </div>
    <div class="d-flex flex-column">
      <label for="">Nome Completo</label>
      <input class="input" type="text" />
      <label for="">Email</label>
      <input class="input" type="email" />
      <label for="">Sua mensagem</label>
      <input class="input msg" type="text" />
    </div>
    <button class="contactBtn">Enviar Mensagem</button>
  </div>
</div>
