<div class="d-flex">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.instagram.com/j_minervino/"><img class="instagram" src="./assets/img/icon-instagram.png" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/joão-victor-minervino-de-araújo-67b327222/"><img class="github" src="./assets/img/icon-github.png" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/jminervino"><img class="linkedin" src="./assets/img/icon-linkedin.png" alt=""></a>
        </li>
    </ul>
</div>