
main {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #151515;

}


.bg-img img {
  width:  80%;
}
.about {
  width: 50%;
  margin-left: 15%;
}

.about h2 {
  font-weight: 600;
  font-size: 35px;
  color: white;
  // color: #234870;
}


.dev-name{
  color: white;
  font-size: 100px;
  font-weight: 600;
  line-height: 1.1;
}

.about .function {
  color: #DA3239;
}


.about p {
  margin: 40px 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: white;
}

.buttons button {
  background-color: #292929;
  // background-color: #501B21;
  color: #ffff;
  font-weight: 500;
  padding: 8px 20px;
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  transition: 0.2s;
}

.buttons button:hover {
  padding: 12px 24px;
}

.buttons img {
  width: 20px;
}

.background-img {
  width: 50%;
  z-index: 1;
}

.background-img img {
  width: 94%;
  margin-bottom: 2px;
}
