<!-- <mat-sidenav-container>
  <mat-sidenav>  </mat-sidenav>
  <mat-sidenav-content>  </mat-sidenav-content>
</mat-sidenav-container> -->
<!--
<div id="stars"></div>
<div id="stars2"></div>
<div id="stars3"></div> -->

<main >
  <div class="about">
    <h2>Olá! meu nome é</h2>
    <h1 class="dev-name">João Victor.</h1>

    <h2 class="function"> < Desenvolvedor Mobile ></h2>

    <div>
      <p class="text-animation"></p>
    </div>

    <p>
      Apaixonado por tecnologia, apto e disposto a <br/>
      desbravar tudo de novo que vier!
    </p>
    <div class="buttons">
        <button *ngFor="let button of buttonsHome" (click)="redirectToLink(button)">
          <img src="{{ button.img }}" />
          {{ button.text }}
        </button>
    </div>
  </div>
  <div class="bg-img">
    <img src="assets/img/AirBrush_20220905114412-removebg.png" alt="" />
  </div>
</main>
<!-- <app-myhistory></app-myhistory> -->
<app-skills></app-skills>
<app-projects></app-projects>
<app-certificate></app-certificate>
